html {
    background-color: lightskyblue;
}

body {
    /* max-height: 300px; */
    overflow: hidden;
}

.score {
    font-size: 5vw;
    position: absolute;
    top: 0;
    left: 0;
}

.player {
    transition: top 0.25s, left 0.25s;
    transform: translate(-50%, -50%);
    width: 10vw;
    height: 10vw;
    background-image: url('./images/bob.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-position-x: -3.5vw;
    background-position-y: 0.5vw;
    transform: rotateY(180deg);
    position: absolute;
    margin: 5vw;
    top: 0vw;
    left: 0vw;
}

.power-up {
    transition: all 0.25s;
    left: 10vw;
    transform: translate(-50%, -50%);
    background-image: url('./images/snowdog.png');
    background-size: cover;
    background-repeat: no-repeat;
    width: 5vw;
    height: 5vw;
    position: absolute;
}

.hazard {
    position: absolute;
    width: 10vw;
    height: 10vw;
    /* background-color: red; */
    background-image: url('./images/apple-slices.png');
    background-size: cover;
    background-repeat: no-repeat;
    /* border-radius: 50%; */
}

.mobile-controller {
    display: none;
    justify-content: center;
    align-items: center;
    height: 60vw;
    width: 63vw;
    background: rgba(0, 0, 0, 0.5);
    border-radius: 50%;
    position: absolute;
    transform: translate(-50%, -50%);
    left: 50%;
    bottom: -20vw;
}

.mobile-controller > .arrows > * {
    margin: 0 auto;
}

.arrow {
    width: 5vw;
    height: 5vw;
    background-color: white;
    border-radius: 50%;
    padding: 3vw;
}

.spacer {
    padding: 16vw 0;
}

.left-and-right-arrows {
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.left-and-right-arrows > * {
    margin: 0 10vw;
}